// fonts

$lato: 'Lato', sans-serif;
$libre-franklin: 'Libre Franklin', sans-serif;
$fira-sans: 'Fira Sans', sans-serif;
$alegreya-sans: 'Alegreya Sans', sans-serif;
$karla: 'Karla', sans-serif;
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;
