// Place all the styles related to the Company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

$light_black: #444;
$dark_grey: #555;
$grey: #888;
$light_grey: #aaa;
$blue: #0983B2;
$dark_white: #e8e8e8;

$emotions: "sentiment" "anger" "disgust" "fear" "joy" "sadness";

.company-list {
  padding-top: 4rem !important;
}

.company-info {
  margin-bottom: 0.5rem;
  border-bottom: 2px dotted #e8e8e8;
  &:first-child {
    .company-values {
      @for $i from 1 through 6 {
        li:nth-child(#{$i}) {
          &:before {
            content: "#{nth($emotions, $i)}";
            position: absolute;
            bottom: 3.1rem;
            text-align: center;
            width: 100%;
            color: $light_grey;
            text-transform: uppercase;
            font-size: 0.75em;
            padding-left: 0.32em;
            font-weight: 400;
            font-family: $open_sans;
          }
        }
      }
    }
  }
}

.company-name {
  font-family: $fira_sans;
  font-weight: 800;
  color: $light_black;
  a {
    font-size: 1.3em;
  }
}
.company-values {
  font-family: $open_sans;
  font-weight: 600;
  font-size: 1.45em;
  color: $dark_grey;
  position: relative;
  .value {
    min-width: 3.6rem;
  }
  .change {
    font-size: 0.7em;
    margin-top: 0.35em;
  }
  ul {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }
  li {
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.company-page {
  h3 {
    font-size: 2.2em;
    margin-bottom: 0.275em;
  }
  h4 {
    margin-top: 0em;
  }
  .company-symbol {
    font-weight: 400;
    text-transform: uppercase;
    color: $light_grey;
    margin-bottom: 0.5em;
    padding-bottom: 0.75em;
    margin-right: 3em;
    border-bottom: 1px solid $dark_white;
  }
  .back-link {
    font-size: 1em;
    font-style: italic;
    opacity: 0.6;
  }
  i {
    font-size: 0.8em;
    opacity: 0.8;
  }
  .value-list {
    display: flex;
    justify-content: space-between;
    > li {
      width: 100%;
    }
    p {
      color: $dark_grey;
      margin-top: 0.9rem;
      margin-bottom: 0.9rem;
    }
    .value-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .value {
      font-size: 2.4em;
      font-family: $open_sans;
      font-weight: 700;
    }
    .change {
      font-family: $open_sans;
      padding-left: 0.2rem;
    }
  }
}
