// Place all the styles related to the Company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

$light_black: #444;
$dark_grey: #555;
$grey: #888;
$light_grey: #aaa;
$med_grey: #999;
$blue: #0983B2;
$dark_white: #e8e8e8;

$emotions: "sentiment" "anger" "disgust" "fear" "joy" "sadness";

.company-list {
  padding-top: 0rem !important;
}

.info-header {
  border-bottom: 1px solid $dark_white;
  margin-bottom: 3rem;
  p {
    padding-right: 4em;
    font-size: 1.22em;
    color: $dark_grey;
    line-height: 1.6em;
  }
}

.company-info {
  margin-bottom: 0.5rem;
  border-bottom: 2px dotted #e8e8e8;
}

.company-header {
  padding: 0 !important;
  padding-bottom: 0.5rem !important;
  .span-9 {
    padding-left: 1rem;
  }
  .column-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    li {
      width: 100%;
      text-align: center;
      color: $light_grey;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      font-family: $open_sans;
    }
  }
}
.title-header {
  p {
    margin: 0;
  }
}

.company-name {
  font-family: $fira_sans;
  font-weight: 800;
  color: $light_black;
  a {
    font-size: 1.3em;
    transition: 200ms;
    display: inline-block;
    &:hover {
      margin-left: 0.2em;
    }
  }
}
.company-values {
  font-family: $open_sans;
  font-weight: 600;
  font-size: 1.45em;
  color: $dark_grey;
  position: relative;
  padding-left: 1rem;
  .value {
    min-width: 3.6rem;
  }
  .change {
    font-size: 0.7em;
    margin-top: 0.35em;
  }
  ul {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }
  li {
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}

.company-page {
  h3 {
    font-size: 2.2em;
    margin-bottom: 0.275em;
  }
  h4 {
    margin-top: 0em;
  }
  .company-symbol {
    font-weight: 400;
    text-transform: uppercase;
    color: $light_grey;
    margin-bottom: 0.5em;
    padding-bottom: 0.75em;
    margin-right: 3em;
    border-bottom: 1px solid $dark_white;
  }
  .back-link {
    font-size: 1em;
    font-style: italic;
    opacity: 0.6;
  }
  i {
    font-size: 0.8em;
    opacity: 0.8;
  }
  .value-list {
    display: flex;
    justify-content: space-between;
    > li {
      width: 100%;
    }
    p {
      color: $dark_grey;
      margin-top: 0.9rem;
      margin-bottom: 0.9rem;
    }
    .value-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .value {
      font-size: 2.4em;
      font-family: $open_sans;
      font-weight: 700;
    }
    .change {
      font-family: $open_sans;
      padding-left: 0.2rem;
    }
  }
}

.company-articles-heading {
  display: inline-block;
  font-weight: 500;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  // width: 40%;
  margin-top: 3.3rem !important;
  margin-bottom: 0.25em;
}
.company-articles {
  font-family: $open_sans;
  font-size: 1em;
  margin-bottom: 2rem;
  li {
    padding: 0.2rem 0;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: $blue;
    }
  }
}

.disclaimer {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 1.2rem;
  > div {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .disclaimer-text {
    width: 90%;
    padding-right: 4em;
    p {
      color: $dark_grey;
      line-height: 1.45em;
    }
  }
  .disclaimer-button {
    width: 30%;
    justify-content: center;
  }
  .donate-button {
    background: $blue;
    color: white;
    padding: 1em 2em;
    border-width: 0;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: 200ms;
    font-family: $open_sans;
    font-weight: 400;
    &:hover {
      background: lighten($blue, 4%);
    }
  }
  a {
    text-decoration: underline;
  }
  .copyright {
    color: $dark_grey;
  }
}
