@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700,800,900|Lato:300,400,700,900|Open+Sans:300,400,400i,600,700");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.company-list {
  padding-top: 0rem !important; }

.info-header {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 3rem; }
  .info-header p {
    padding-right: 4em;
    font-size: 1.22em;
    color: #555;
    line-height: 1.6em; }

.company-info {
  margin-bottom: 0.5rem;
  border-bottom: 2px dotted #e8e8e8; }

.company-header {
  padding: 0 !important;
  padding-bottom: 0.5rem !important; }
  .company-header .span-9 {
    padding-left: 1rem; }
  .company-header .column-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; }
    .company-header .column-names li {
      width: 100%;
      text-align: center;
      color: #aaa;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }

.title-header p {
  margin: 0; }

.company-name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  color: #444; }
  .company-name a {
    font-size: 1.3em;
    transition: 200ms;
    display: inline-block; }
    .company-name a:hover {
      margin-left: 0.2em; }

.company-values {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.45em;
  color: #555;
  position: relative;
  padding-left: 1rem; }
  .company-values .value {
    min-width: 3.6rem; }
  .company-values .change {
    font-size: 0.7em;
    margin-top: 0.35em; }
  .company-values ul {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between; }
  .company-values li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%; }

.company-page h3 {
  font-size: 2.2em;
  margin-bottom: 0.275em; }

.company-page h4 {
  margin-top: 0em; }

.company-page .company-symbol {
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 0.5em;
  padding-bottom: 0.75em;
  margin-right: 3em;
  border-bottom: 1px solid #e8e8e8; }

.company-page .back-link {
  font-size: 1em;
  font-style: italic;
  opacity: 0.6; }

.company-page i {
  font-size: 0.8em;
  opacity: 0.8; }

.company-page .value-list {
  display: flex;
  justify-content: space-between; }
  .company-page .value-list > li {
    width: 100%; }
  .company-page .value-list p {
    color: #555;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem; }
  .company-page .value-list .value-container {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .company-page .value-list .value {
    font-size: 2.4em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
  .company-page .value-list .change {
    font-family: "Open Sans", sans-serif;
    padding-left: 0.2rem; }

.disclaimer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 1.2rem; }
  .disclaimer > div {
    display: flex !important;
    justify-content: space-between;
    align-items: center; }
  .disclaimer .disclaimer-text {
    width: 80%;
    padding-right: 0.5em; }
    .disclaimer .disclaimer-text p {
      color: #555;
      line-height: 1.45em; }
  .disclaimer .disclaimer-button {
    width: 30%;
    justify-content: center; }
  .disclaimer .donate-button {
    background: #0983B2;
    color: white;
    padding: 1em 2em;
    border-width: 0;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: 200ms;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }
    .disclaimer .donate-button:hover {
      background: #0a91c5; }

/*
  EmojiSymbols Font (c)blockworks - Kenichi Kaneko
  http://emojisymbols.com/
*/
html {
  font-size: 16px; }

html, body {
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800; }

h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700; }

h4 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.link {
  color: #0983B2; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.span-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .span-1:last-child {
    margin-right: 0; }

.span-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .span-2:last-child {
    margin-right: 0; }

.span-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .span-3:last-child {
    margin-right: 0; }

.span-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .span-4:last-child {
    margin-right: 0; }

.span-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .span-5:last-child {
    margin-right: 0; }

.span-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .span-6:last-child {
    margin-right: 0; }

.span-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .span-7:last-child {
    margin-right: 0; }

.span-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .span-8:last-child {
    margin-right: 0; }

.span-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .span-9:last-child {
    margin-right: 0; }

.span-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .span-10:last-child {
    margin-right: 0; }

.span-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .span-11:last-child {
    margin-right: 0; }

.span-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .span-12:last-child {
    margin-right: 0; }

.shift-1 {
  margin-left: 8.5298%; }

.shift-2 {
  margin-left: 17.05961%; }

.shift-3 {
  margin-left: 25.58941%; }

.shift-4 {
  margin-left: 34.11922%; }

.shift-5 {
  margin-left: 42.64902%; }

.shift-6 {
  margin-left: 51.17883%; }

.shift-7 {
  margin-left: 59.70863%; }

.shift-8 {
  margin-left: 68.23843%; }

.shift-9 {
  margin-left: 76.76824%; }

.shift-10 {
  margin-left: 85.29804%; }

.shift-11 {
  margin-left: 93.82785%; }

.shift-12 {
  margin-left: 102.35765%; }

.table {
  padding: 2.35765%; }

.right {
  float: right; }

.positive {
  color: #00b200; }

.negative {
  color: #ff0033; }

.pad-left {
  padding-left: 0.32em; }

.external-link {
  color: #0983B2;
  font-size: 1em; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: inherit; }

.sticky-hidden {
  display: none; }

.is-sticky .sticky-hidden {
  display: block; }

.sticky-header-container {
  width: 100%; }

.sticky-header-container .sticky-header {
  background: white;
  z-index: 1000000;
  width: 100%;
  border: 1px solid transparent;
  transition: border 200ms; }

.sticky-header-container.is-sticky .sticky-header {
  position: fixed;
  top: 0;
  padding: 1em 0 0.8em !important;
  border-bottom: 1px solid #e8e8e8; }

#header {
  border-bottom: 1px solid #d8d8d8;
  background: #f8f8f8; }
  #header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #header .header-right {
    text-align: right;
    width: 75%;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #header .header-right p {
      color: #999; }
  #header .social-list {
    display: flex;
    justify-content: flex-start; }
    #header .social-list a {
      margin-left: 0.25rem;
      border-radius: 50%;
      transition: 200ms;
      width: 2em;
      text-align: center;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #aaa; }
      #header .social-list a:hover {
        background: #555;
        color: white; }
  #header h1 {
    width: 75%;
    font-size: 2.4em;
    text-transform: uppercase;
    color: #444;
    margin: 1.6rem 0; }

/*# sourceMappingURL=frontend.css.map */