<section id="header">
  <div class="container group">
    <h1><a href="/">Stock Sentiment</a></h1>
    <div class="header-right">
      <p>
        Created by Trevor Scandalios
      </p>
      <ul class="social-list">
        <a href="https://www.linkedin.com/in/trevorscandalios" target="_blank">{{fa-icon "linkedin"}}</a>
        <a href="https://angel.co/trevor-scandalios" target="_blank">{{fa-icon "angellist"}}</a>
        <a href="mailto:trevorscandalios@gmail.com" target="_top">{{fa-icon "envelope"}}</a>
      </ul>
    </div>
  </div>
</section>
{{outlet}}
<div class="copyright-container container group">
  <div class="span-12">
    <p class="copyright">
      &copy; 2017 Trevor Scandalios
    </p>
  </div>
</div>
