<section id="header">
  <div class="container group">
    <h1>Stock Sentiment</h1>
    <div class="header-right">
      <p>
        Created by Trevor Scandalios
      </p>
      <ul class="social-list">
        <a href="https://www.linkedin.com/in/trevorscandalios" target="_blank">{{fa-icon "linkedin"}}</a>
        <a href="https://angel.co/trevor-scandalios" target="_blank">{{fa-icon "angellist"}}</a>
        <a href="mailto:trevorscandalios@gmail.com" target="_top">{{fa-icon "envelope"}}</a>
      </ul>
    </div>
  </div>
</section>
{{outlet}}
